@{
    ViewBag.Title = "Home Page";
}

<a class="btn btn-success" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=78uhno10efjwv3&redirect_uri=http://localhost:52939/home/callback&scope=openid,profile,email&state=1234567890">Login</a>